*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.container{
    width: 1140px;
    margin: 0 auto;


}
.header{
    background-image: url(./images/OiIPMSBXmz2VNMQ.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 70%;
    padding-bottom: 80px;
    padding-bottom: 250px;
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
.h-top-image{
    width: 15%;
    position: relative;
    left: 10px;
    top: -10px;
    animation-name: Mosque;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation-direction: alternate-reverse;
}
.header-top .h-top-right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.h-top-title{
    position: relative;
    left: -5%;
}
.h-img{
    width: 20px;
    position: relative;
    top: 21%;
    left: 20%;
}
.h-img:hover{
    animation-name: linkHover;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.h-bottom{
position: relative;
left: 290px;
top: 100px;
background-color: lightgray;
width: 600px;
}
.h-bottom-list{
    text-align: center;
}
.h-bottom-list{
    padding: 10px;
}
.h-bottom-title{
    font-size: 35px;
}
.h-link{
    margin: 7px;
    width: 35px;
    height: 35px;
    background: whitesmoke;
    
    border-radius: 50px;
    
}
.h-link:hover{
    background: lightgrey;
    transition: 0.5s;
   
    
}
.header-bottom{
    animation-name: header;
    animation-duration: 2s;
}
 @keyframes header{
    from{
        transform: translateY(200px);
    }
    to{
        transform: translateY(0px);
    }
 }
 @keyframes linkHover{
     from{
         transform: scale(0.5);
     }
     to{
         transform: scale(1.2);
     }
 }
 @keyframes Mosque{
     fro{
         transform: scale(0.5);
     }
     to{
         transform: scale(1.2)
     }
 }

 .h-footer{
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;
     bottom: -230px;
 }
 .h-footer-list{
     display: flex;
     justify-content: space-around;
     align-items: center;
     background-color: lightsteelblue;
     width: 1140px;
     height: 50px;
    }
    .h-footer-list{
        border: 2px solid grey;
    }
    .h-footer-item{
        height: 42px;
        width: fit-content;
        padding: 10px;
    }
    .h-footer-item:hover{
        background: whitesmoke;
       
    }
.h-footer-link{
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.intro-title{
    font-size: 40px;
    color: darkslategrey;
    text-align: center;
    margin-top: 30px;
}
.intro-flex{
    height: 50px;
}
.main-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.main-img{
    width: 300px;

}
.main-img:hover{
    animation-name: ImageHover;
    animation-iteration-count: 2;
    animation-duration: 1.5s;
    animation-direction: alternate-reverse;
}
@keyframes ImageHover{
    from{
        transform: scale(0.5);
    }
    to{
        transform: scale(1);
    }
}
.main-image{
    width: 500px;
    height: 300px;
}
.main-image:hover{
    animation-name: ImageHover2;
    animation-iteration-count: 2;
    animation-duration: 1.5s;
    animation-direction: alternate-reverse;
}
@keyframes ImageHover2{
    from{
        transform: scale(0.8);
    }
    to{
        transform: scale(1);
    }
}
.main-item{
    margin: 10px;
}

.info-text{
    width: 80%;
    text-align: center;
    line-height: 25px;
    word-spacing: 2px;
   position: relative;
   left:130px;
   top: 10px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.graph-top{
    margin-top: 50px;

    height: 200px;
    background-image: url(./images/images__3_-removebg-preview.png);
}
.graph-top{
    display: flex;
    justify-content: space-around;
}
.g-top-img{
    width: 300px;
    height: 260px;
    position: relative;
    top: 100px;
    left: 40px;
}
.g-top-title{
    position: relative;
    top: 200px;
    left: -50px;
    font-size: 45px;
    color: darkslategray;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.graph-center{
    margin-top: 150px;
}
.g-center-img{
    width: 50px;
}
.graph-center{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.g-center-item{
    line-height: 13px;
}
.g-center-text{
    text-align: end;
    margin: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.list-graph{
    display: flex;
    justify-content: center;
    align-items: center;
}
.g-bottom-img{
    width: 25px;
}
.graph-bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
.g-bottom-list{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    margin: 10px;
    padding: 10px;
    background: yellow;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 100px;
}
.g-botto-item{
    margin: 6px;
    
}
.bottom-text{
    font-size: 25px;
    padding-right: 30px;
}
.g-bottom-subtitle{
    font-size: 25px;
    text-align:  center;
}
.g-major{

    border: 2px solid black;
    border-style:dotted;
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-width: 2px;
    
}
body{
    background-color: lightgoldenrodyellow;
}

.card-img{
    width: 400px;
}
.card-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-list{
    width: 72%;
    text-align: center;
}
.card-subtitle{
    text-align: right;
}
.card{
    margin-top: 100px;
}
.card-item{
    margin-bottom: 10px;
}
.footer{
    margin-top: 100px;
    padding-top: 50px;
    background-color: darkslateblue;
}
.footer-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-item{
    line-height: 40px;
}
.footer-text{
    color: whitesmoke;
}